body{
    background-color: blue;
}
.supermanshistory{
    background-color: red;
}
.whathedoesforaliving{
    background-color: darkorange;
}
.supermansfellowheroes{
    background-color: yellow;
}
.peoplehehasfaught{
    background-color: chartreuse;
}