body{
    background-color: blue;
}
.supermanshistory{
    background-color: blueviolet;
}
.whathedoesforaliving{
    background-color: chartreuse;
}
.supermansfellowheroes{
    background-color: crimson;
}
.peoplehehasfaught{
    background-color: darkorange;
}